.wy-nav-content {
  max-width: 1200px !important;
}

td {
  white-space: normal !important;
}


pre {
    white-space: pre-wrap !important;   /* Wrap long lines */
    word-wrap: break-word !important;   /* Break long words if needed */
}

.sq-button {
    display: inline-block; 
    padding: 0.4rem 0.9rem;
    border-radius: 9999px;
    background: #4f46e5;
    color: #fff !important;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.sq-button:hover {
    background: #3f35c5;
    text-decoration: none;
}
